 .u-section-1 {
  background-image: none;
  min-height: 823px;
  overflow: hidden;
}

.u-section-1 .u-shape-1 {
  height: 279px;
  margin-top: 252px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("imgface.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -471px auto 0;
  filter: grayscale(100%);
 
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 45px 80px 0;
}

.u-section-1 .u-text-2 {
  margin: 45px 379px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  width: 130px;
  margin: 30px auto 60px auto;
  padding: 0;
  transition: .3s;
}

/* Minhas configurações */
.instagram {
  font-size: 30px;
  color: #f1c50e;
}

.instagram:hover {
  color: #f1c40ec0;
}

.titulo-rede {
    margin: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    transition: .3s;
}

iframe {
  width: 350px;
  height: 250px;
  margin-bottom: 15px;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2.5px;
}

h5 {
  border: none;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ----------------------------------------------------------------------------------*/

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;

  }

  .u-section-1 .u-text-2 {
    width: 482px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 798px;
    overflow-x: hidden;
  }

  .u-section-1 .u-shape-1 {
    height: 226px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -418px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}